*{
    box-sizing: border-box;
    margin: 0;
    border: 0;
}
#content{
    background-color: aqua;
    position: absolute;
    width: 100%;
    height: 100%;
}
#ui{
    position: absolute;
    height: 700px;
    width:700px;
    background-color: rgb(0, 0, 0);
    left: calc(50% - 350px);
    bottom: calc(50% - 350px);
    
}
/* dich tieng viet */
button.translate1.js-en-vi {
    cursor: pointer;
    position: absolute;
    z-index: 1;
    left: 0;
    bottom: -40px;
    padding: 10px;
}
/* dich tieng anh */
button.translate2.js-vi-en {
    cursor: pointer;
    position: absolute;
    z-index: 1;
    right: 0;
    bottom: -40px;
    padding: 10px;
}
/* diem so */
#scores{
    position: absolute;
    z-index: 1;
    left: 35%;
    bottom: -45px;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
/* hen gio */
#timeout{
    position: absolute;
    z-index: 1;
    left: 55%;
    bottom: -45px;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
/*Giới thiệu mở đầu */
.js-cmt{
    color: white;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    margin-top: 40%;
    width: 100%;
    height: 100%;
    text-align: center;
    /* display: none; */
}
.js-cmt.open{
    display: none !important;
}
/* Kết thúc mở đầu */
.js-cmt1 ,.js-cmt2 ,.js-cmt3 ,.js-cmt4 ,.js-done{
    color: white;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: 100%;
    display: none;
    text-align: center;
    font-size: 30px;
    padding-top: 45%;
}
#block{
    background-color: blueviolet;
    height: 200px;
    width: 200px;
    min-width: 10px;
    min-height: 10px;
    position: absolute;
    display: none;
}

.js-block.openblock ,.js-cmt1.openLevel1 ,.js-cmt2.openLevel2 ,.js-cmt3.openLevel3 ,.js-cmt4.openLevel4 ,.js-done.openDone{
    display: block !important;
}
